
.home__container{
    /* display: flex; */
    /* justify-content: space-between; */
    gap: 1rem;
}
.home__content{
    grid-template-columns: .5fr 3fr;
    padding-top: 5.5rem;
    align-items: center;
}


.button--flex{
    cursor: pointer;
    background-color: #333333;
    color: rgb(251, 251, 251);
    padding: 0.8rem 3rem;
    font-weight: 500;
    border-radius: 0.5rem;
    text-transform: capitalize;
    transition: 0.2s ease;
}



.button--flex:hover{
    color: rgb(251,251,251);
    box-shadow: 10px 10px 40px grey;
    font-weight: 600;
}